<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Estado</th>
            <th scope="col">Vencimiento</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of tareas" >
            <th scope="row">{{t.id}}</th>
            <td>{{t.nombre}}</td>
            <td>{{t.descripcion}}</td>
            <td>{{t.prioridad}}</td>
            <td>{{t.estado}}</td>
            <td>{{t.vencimiento}}</td>
        </tr>
        </tbody>
    </table>
</div>
  