<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">
    
    <br><h3>Gestión de tareas</h3><br>
    
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="email" class="fadeIn second" placeholder="email" formControlName="email">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Ingresar">
    </form>


    <div id="alert alert-danger" *ngIf="errorStatus">
      <p>{{ errorMsg }}</p>
    </div>


  </div>
  <button type="button" class="btn btn-link" (click)="newUser()">Nuevo usuario</button>
</div>