<br><br>

<div class="container">

    <form [formGroup]="newForm" (ngSubmit)="create(newForm.value)">
        <h3>Modificando tarea</h3> 
        <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control"  placeholder="Nombre" formControlName="nombre">
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Descripción</label>
                <input type="text" class="form-control"  placeholder="Descripción" formControlName="descripcion">
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="exampleFormControlInput1">Prioridad</label>
                <input type="text" class="form-control"  placeholder="Prioridad" formControlName="prioridad">     
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Estado</label>
                <input type="text" class="form-control"  placeholder="Estado" formControlName="estado">     
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">Vencimiento</label>
                <input type="date" class="form-control"  placeholder="Vencimiento" formControlName="vencimiento">     
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Crear</button>
        <button type="button" class="btn btn-dark" (click)="cancel()">Cancelar</button>
            
</form>

</div>